@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

$black:#000000;
$white:#FFFFFF;
$heather:#B8BECD;
$ebony-clay:#202336;
$tree-poppy:#FB8F1D;
$abbey:#4A4C53;
$bombay:#AFB0B9;
$silver-chalice:#B2B2B2;
$st-tropaz:#305C91;
$gallery:#EEEEEE;
$concrete:#F3F3F3;
$topaz:#7D7987;
$tiber:#042521;
$gunsmoke:#80918E;
@import "select";
@import "date-picker";
*,*:before,*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
img{
  width: 100%;
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container{
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
section {
  padding: 8rem 0;
}
body{
  background-color: $white;
}
.btn{
  padding: .8rem 2.4rem;
  border-radius: .8rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}


/* Header */
header{
  margin-top: 2rem;
}
nav{
  display: flex;
  justify-content: space-between;
}
.nav-logo{
  width: 4rem;
  height: 4rem;
  min-height: 4rem;
  min-width: 4rem;
}
.nav-right{
  display: flex;
}
.nav-menu{
  display: flex;
}
.nav-item{
  padding: 1.5rem 2rem;
}
.nav-link{
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $heather;
  &.active{
    color: $ebony-clay;
    font-weight: bold;
  }
}
.nav-form{
  display: flex;
  align-items: center;
  grid-gap: 1.5rem;
}

.btn-login{
  border: 1px solid $tree-poppy;
  color: $tree-poppy;
}
.btn-register{
  background-color: $tree-poppy;
  color: $white;
}


/* Hero */
.hero{
  padding-top: 5rem;
}
.hero-content{
  display: flex;
  align-items: center;
}
.hero-form{
  flex: 1 1 50%;
  padding-right: 3rem;
}
.hero-title{
  font-size: 6.4rem;
  font-family: 'Playfair Display', serif;
  color: $ebony-clay;
}
.hero-subtitle{
  margin-top: 3rem;
  color: $ebony-clay;
  font-size: 2.2rem;
  font-weight: 600;
  font-family:'Inter', "Myriad pro Semibold",sans-serif;
  margin-bottom: 6.4rem;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    bottom:-2.4rem ;
    left: 0;
    height:.2rem;
    width: 3.2rem;
    background-color: $ebony-clay;
  }
}

.form-groups{
  display: flex;
  grid-gap: 1.5rem;
  flex-wrap: wrap;
}
.form-control{
  flex: 1 1 calc(50% - 1.5rem);
}

.btn-explore{
  margin-top: 3rem;
  padding:1.5rem 6rem;
  background-color: $tree-poppy;
  color: $white;
}
.hero-img{
  flex: 1 1 50%;
}

/* Explore */
.section-content{
  display: flex;
  align-items: center;

}
.section-img,.section-text{
  flex: 1 1 50%;
}
.section-text{
  padding: 0 3rem;
  .btn{
    padding: 1.5rem 3rem;
    max-width: 20rem;
  }
}
.section-title{
  font-size: 3.6rem;
  font-family: "Playfair Display", serif;
  color: $black;
}
.p-description{
  color: $topaz;
  font-size: 1.7rem;
  font-weight:300;
  font-family: 'Mulish', sans-serif;
  margin: 2rem 0;
}


/* Features Destinations */
.features-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.features-title{
  color: $black;
  font-size: 3.6rem;
  font-family: "Playfair Display", serif;
}
.view-all{
  color: $tree-poppy;
  font-size: 1.7rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  &:hover{
    border-bottom:1px solid $tree-poppy;
  }
}
.features-cards{

  display: flex;
  grid-gap: 2rem;
}
.feature-card{
  position: relative;
  img{
    border-radius:1rem;
  }
}
.feature-card-desc{
    position: absolute;
    bottom: 0;
    left:0;
    background-color: $white;
    border-top-right-radius: .6rem;
    padding: 1.5rem 1.5rem 0 0;
}
.location{
  display: block;
  font-size: 1.7rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: $tiber;
}
.country{
  display: block;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: $gunsmoke;
  font-weight: bold;
}

/* Testimonials */
.testimonials-content{
  position: relative;
}
.testimonial-list{
  display: flex;
  margin-top: 2rem;
  overflow: hidden;
}
.testimonial-item{
  flex-shrink: 0;
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  &.active{
    transition: 1s all;
  }
}
.testimonial-text{
  flex: 1 1 60%;
  padding: 0 3rem;
}

.rating{
  display: flex;
  grid-gap: 1rem;
  img{
    width: 2.4rem;
    height: 2.5rem;
  }
}
.testimonial-description{
  font-size: 2.4rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: $black;
  width: 80%;
  margin: 2rem 0 3rem;
}
.author-name{
  font-size: 2.2rem;
  font-family: 'Inter', sans-serif;
  color: $black;
  font-weight: bold;
}
.author-position{
  display: block;
  margin-top: .5rem;
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: $black;
}
.testimonial-img{
  flex: 1 1 40%;
  text-align: right;
  img{
    border-radius: 1rem;
    width: auto;
    max-height: 38rem;
  }
}
.direction{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $white;
  border-top-left-radius:.6rem;
  display: flex;
  grid-gap: 2rem;
  padding: 1rem;
  .arrow{
    border: 2px solid $black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
}